h1 {
	text-align: center;
	margin-bottom: 150px;
}

main {
	text-align: center;
	width: 100%;
}

form {
	display: inline-block;
	font-size: 17px;
	padding: 10px 25px;
	margin: 10px 25px;
	width: 300px;
	width: auto
}

table, select {
	text-align: center;
	font-size: 20px;
}
table {
	margin: .5em;
}

@media screen and (max-width: 800px) {
	form, table {
		margin: 0;
	}
}
