main {
	margin: 64px 4rem;
}

#funcionalidades {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
}

#pesquisa-entidade {
	width: 100%;
}

button.acao {
	border: 0;
	padding: 0;
}

@media screen and (max-width: 800px) {
	main {
		margin: 32px 2rem;
	}

	#funcionalidades {
		flex-direction: column;
	}

	#pesquisa {
		margin-top: 16px;
	}

	#pesquisa > button {
		margin-top: 16px;
	}

	tbody tr td:last-child {
		padding: 0;
	}
}
