main {
	text-align: center;
}

h1 {
	margin-bottom: 128px;
}

#texto-informativo {
	margin-bottom: 256px;
}

#entrar {
	display: inline-block;
	padding: 20px;
	background-color: #eeeeee;
	border: 1px solid #000000;
	text-decoration: none;
	color: #000000;
}

#entrar:hover {
	cursor: pointer;
}
