:root {
	--fg-color: #000000;
	--bg-color: #ffffff;
	--h-fg-color: #000000;
	--h-bg-color: #eeeeee;
	--error-color: #ff0000;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #000000;
		--fg-color: #ffffff;
		--h-fg-color: #000000;
		--h-bg-color: #afafaf;
	}
}

p.erro {
	color: var(--error-color);
}

input.erro {
	border-color: var(--error-color);
}

*, ::before, ::after {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	font-family: sans-serif;
	margin: 0;
	background-color: var(--bg-color);
	color: var(--fg-color);
}

button, input, select {
	padding: 8px 16px;
	border: 1px solid var(--h-fg-color);
	background: var(--h-bg-color);
}

button:hover {
	cursor: pointer;
}

dialog {
	color: var(--h-fg-color);
	background-color: var(--h-bg-color);
}
