.main-table {
	width: 100%;
	border-collapse: collapse;
	color: var(--h-fg-color);
	background-color: var(--h-bg-color);
}

.main-table {
	text-align: center;
}

.main-table thead {
	border-bottom: 4px solid var(--h-fg-color);
}

.main-table tbody tr {
	border-top: 2px solid var(--h-fg-color);
}

.main-table th, .main-table td {
	padding: 8px 16px;
}

@media screen and (max-width: 400px) {
	.main-table th, .main-table td {
		padding: 0;
	}
}
